<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-6 offset-3 text-center">
            <h1>Dashboard</h1>
            <p> Welcome <%= user.name %></p>
            <a href="/users/logout">Logout</a>
        </div>
    </div>
</div>